*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div{
    float: left;
    height: 200px;
    width: 33.33%;
    color: aliceblue;
}
.one{
    background: blue;
}
.two{
    background: red;
}
.three{
    background-color: green;
}
h1{
    clear: both;
}