body{
    background: yellowgreen;
}
.banner{
    background: blue;
}
h1{
    color: aliceblue;
    text-decoration: underline;
    text-transform: capitalize;
    padding: 10px;
}
@media screen and (max-width:560px){
    body{
        background: green;
    }
    .banner{
        background: red;
    }
    h1{
        color: white;
        text-align: center;
        text-decoration: double;
    }
}
    @media screen and (max-width:360px){
        body{
            background:red;
        }
        .banner{
            background: green;
        }
        h1{
            color: antiquewhite;
            text-transform: lowercase;
        }

}